/*-----------
    Icons 
-----------*/
[data-theme=light] {
  /* Software Docs */
}
[data-theme=light] .fa-book {
  color: black;
}
[data-theme=light] {
  /* GitHub */
}
[data-theme=light] .fa-brands.fa-github {
  color: black;
}
[data-theme=light] {
  /* Email */
}
[data-theme=light] .fa-solid.fa-envelope {
  color: black;
}

[data-theme=dark] {
  /* Software Docs */
}
[data-theme=dark] .fa-book {
  color: white;
}
[data-theme=dark] {
  /* GitHub */
}
[data-theme=dark] .fa-brands.fa-github {
  color: white;
}
[data-theme=dark] {
  /* Email */
}
[data-theme=dark] .fa-solid.fa-envelope {
  color: white;
}

/* Google Scholar */
.fa-graduation-cap {
  color: #4c9cf1;
}

/* ORCID */
.fa-brands.fa-orcid {
  color: greenyellow;
}

/* ResearchGate */
.fa-brands.fa-researchgate {
  color: mediumspringgreen;
}

/* LinkedIn */
.fa-brands.fa-linkedin {
  color: #4c9cf1;
}

/* Blue Sky */
.fa-bluesky {
  color: #087af3;
}