/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
[data-theme=light] {
  --primary-bg: #ffffff;
  --secondary-bg: #520761;
  --tertiary-bg: #520761;
  --primary-fg: #000000;
  --secondary-fg: #036077;
  --tertiary-fg: #036077;
  --link-color: #5f09af;
}

[data-theme=dark] {
  --primary-bg: #271227;
  --secondary-bg: #a849a8;
  --tertiary-bg: #a849a8;
  --primary-fg: #ffffff;
  --secondary-fg: #77c3c9;
  --tertiary-fg: #77c3c9;
  --link-color: #7fdde4;
}

.masthead {
  position: relative;
  border-bottom: 2px solid var(--secondary-bg);
  padding-left: 6%;
}
.masthead nav {
  width: 100%;
  height: 20%;
  text-align: left;
  padding: 1%;
  display: inline-block;
}
.masthead nav .author-name-nav {
  display: inline-block;
  padding-right: 50px;
}
.masthead nav .author-name-nav li {
  display: inline-block;
}
.masthead nav .author-name-nav li a {
  color: var(--secondary-fg);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  transition: color 0.3s ease;
}
.masthead nav .desktop-nav {
  display: inline-block;
}
.masthead nav .desktop-nav li {
  display: inline-block;
}
.masthead nav .desktop-nav li a {
  color: var(--primary-fg);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  transition: color 0.3s ease;
}
.masthead nav .theme-switch {
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 5px;
  display: block;
  float: right;
}
.masthead nav .theme-switch .hover {
  opacity: 0.8;
}
.masthead nav .mobile-nav {
  display: none;
}
.masthead nav .burger-nav {
  display: none;
}

@media (max-width: 480px) {
  .masthead nav .desktop-nav {
    display: none;
  }
  .masthead nav .burger-nav {
    display: block;
    float: left;
  }
  .masthead nav .mobile-nav {
    display: none;
    justify-items: left;
  }
  .masthead nav .mobile-nav li {
    display: block;
  }
  .masthead nav .mobile-nav li a {
    color: var(--primary-fg);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding-top: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    margin-left: 7px;
    margin-right: 7px;
    transition: color 0.3s ease;
  }
}