/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
[data-theme=light] {
  --primary-bg: #ffffff;
  --secondary-bg: #520761;
  --tertiary-bg: #520761;
  --primary-fg: #000000;
  --secondary-fg: #036077;
  --tertiary-fg: #036077;
  --link-color: #5f09af;
}

[data-theme=dark] {
  --primary-bg: #271227;
  --secondary-bg: #a849a8;
  --tertiary-bg: #a849a8;
  --primary-fg: #ffffff;
  --secondary-fg: #77c3c9;
  --tertiary-fg: #77c3c9;
  --link-color: #7fdde4;
}

.showcase {
  width: 100%;
  height: 100%;
}
.showcase .year-heading h2 {
  border-bottom: none;
  color: var(--primary-fg);
}
.showcase .showcase-title {
  color: var(--secondary-fg);
}
.showcase .showcase-title a {
  text-decoration: none;
  color: var(--secondary-fg);
}
.showcase ul {
  padding-left: 50px;
}
.showcase .showcase-body {
  font-size: 14px;
}