/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
[data-theme=light] {
  --primary-bg: #ffffff;
  --secondary-bg: #7dd4db;
  --tertiary-bg: #4fb9c1;
  --primary-fg: #000000;
  --secondary-fg: #9b4d5f;
  --tertiary-fg: #b85b74;
}

[data-theme=dark] {
  --primary-bg: #2e2c2c;
  --secondary-bg: #10555a;
  --tertiary-bg: #1c8991;
  --primary-fg: #ffffff;
  --secondary-fg: #df6dc2;
  --tertiary-fg: #b925b2;
}

.showcase {
  width: 100%;
  height: 100%;
}
.showcase .year-heading h2 {
  border-bottom: none;
  color: var(--primary-fg);
}
.showcase .showcase-title {
  color: var(--secondary-fg);
}
.showcase .showcase-title a {
  text-decoration: none;
  color: var(--secondary-fg);
}
.showcase ul {
  padding-left: 50px;
}
.showcase .showcase-body {
  font-size: 14px;
}