/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
[data-theme=light] {
  --primary-bg: #ffffff;
  --secondary-bg: #7dd4db;
  --tertiary-bg: #4fb9c1;
  --primary-fg: #000000;
  --secondary-fg: #9b4d5f;
  --tertiary-fg: #b85b74;
}

[data-theme=dark] {
  --primary-bg: #2e2c2c;
  --secondary-bg: #10555a;
  --tertiary-bg: #1c8991;
  --primary-fg: #ffffff;
  --secondary-fg: #df6dc2;
  --tertiary-fg: #b925b2;
}

.academic-sidebar {
  height: 100%;
  width: 15%;
  list-style: none;
  text-align: center;
  position: fixed;
  padding-top: 30px;
  padding-left: 5%;
}
.academic-sidebar h3 {
  text-align: center;
  margin-bottom: 0;
}
.academic-sidebar .pronouns {
  padding-bottom: 1em;
}
.academic-sidebar li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 5px;
}
.academic-sidebar li a {
  display: inline-block;
}
.academic-sidebar .author_avatar img {
  max-width: 175px;
}

@media (max-width: 480px) {
  .academic-sidebar {
    display: none;
  }
}