/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
[data-theme=light] {
  --primary-bg: #ffffff;
  --secondary-bg: #520761;
  --tertiary-bg: #520761;
  --primary-fg: #000000;
  --secondary-fg: #036077;
  --tertiary-fg: #036077;
  --link-color: #5f09af;
}

[data-theme=dark] {
  --primary-bg: #271227;
  --secondary-bg: #a849a8;
  --tertiary-bg: #a849a8;
  --primary-fg: #ffffff;
  --secondary-fg: #77c3c9;
  --tertiary-fg: #77c3c9;
  --link-color: #7fdde4;
}

.academic-sidebar {
  height: 100%;
  width: 15%;
  list-style: none;
  text-align: center;
  position: fixed;
  padding-top: 30px;
  padding-left: 5%;
}
.academic-sidebar h3 {
  text-align: center;
  margin-bottom: 0;
}
.academic-sidebar .pronouns {
  padding-bottom: 1em;
}
.academic-sidebar li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 5px;
}
.academic-sidebar li a {
  display: inline-block;
}
.academic-sidebar .author_avatar img {
  max-width: 175px;
}

@media (max-width: 480px) {
  .academic-sidebar {
    display: none;
  }
}