/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
.academic-sidebar {
  height: 100%;
  width: 15%;
  list-style: none;
  text-align: center;
  position: fixed;
  padding-top: 30px;
  padding-left: 5%;
}
.academic-sidebar h3 {
  text-align: center;
  margin-bottom: 0;
}
.academic-sidebar .pronouns {
  padding-bottom: 1em;
}
.academic-sidebar li {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 5px;
}
.academic-sidebar li a {
  display: inline-block;
}
.academic-sidebar .author_avatar img {
  max-width: 175px;
}

@media (max-width: 480px) {
  .academic-sidebar {
    display: none;
  }
}