/*
Variables to be used throughout site
*/
/*
Set your website theme here.
*/
[data-theme=light] {
  --primary-bg: #ffffff;
  --secondary-bg: #7dd4db;
  --tertiary-bg: #4fb9c1;
  --primary-fg: #000000;
  --secondary-fg: #9b4d5f;
  --tertiary-fg: #b85b74;
}

[data-theme=dark] {
  --primary-bg: #2e2c2c;
  --secondary-bg: #10555a;
  --tertiary-bg: #1c8991;
  --primary-fg: #ffffff;
  --secondary-fg: #df6dc2;
  --tertiary-fg: #b925b2;
}

.software {
  margin-top: 10px;
  margin-bottom: 25px;
  box-shadow: 0 0 8px 4px var(--tertiary-bg);
  border: 2px solid var(--primary-fg);
  border-radius: 20px;
  display: block;
}
.software .title {
  margin-left: 15px;
  display: inline-block;
}
.software .title h1 {
  color: var(--secondary-fg);
  text-decoration: none;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.software .blurb {
  display: block;
  margin-left: 30px;
}
.software .blurb p {
  padding-top: 0;
  padding-bottom: 5px;
  color: var(--primary-fg);
  font-size: 20px;
}
.software .links {
  display: inline-block;
}
.software .links ul {
  padding: 0;
  margin: 0;
}
.software .links ul li {
  list-style: none;
  display: inline;
  margin: 15px;
}
.software .links ul li a {
  display: inline-block;
}