/*
Set your website theme here.
*/

// Background
$primary-background: #ffffff;
$secondary-background: #7dd4db;
$tertiary-background: #4fb9c1;

// Foreground
$primary-foreground: #000000;
$secondary-foreground: #9b4d5f;
$tertiary-foreground: #b85b74;

// Font
$font-stack: Helvetica, Arial, sans-serif;
$xlarge-font: 24px;
$large-font: 22px;
$normal-font: 20px;
$medium-font: 17px;
$small-font: 14px;

// Footer
$footer-font-stack: Arial, serif;
$footer-text-color: #a6a2a0;
$footer-font-size: 16px;
