/*
Set your website theme here.
*/

$themes: (
  "light": (
    "primary-bg": #ffffff,
    "secondary-bg": #520761,
    "tertiary-bg": #520761,
    "primary-fg": #000000,
    "secondary-fg": #036077,
    "tertiary-fg": #036077,
    "link-color": #5f09af,
  ),
  "dark": (
    "primary-bg": #271227,
    "secondary-bg": #a849a8,
    "tertiary-bg": #a849a8,
    "primary-fg": #ffffff,
    "secondary-fg": #77c3c9,
    "tertiary-fg": #77c3c9,
    "link-color": #7fdde4,
  ),
);

// Font
$font-stack: Helvetica, Arial, sans-serif;
$xlarge-font: 24px;
$large-font: 22px;
$normal-font: 20px;
$medium-font: 17px;
$small-font: 14px;

// Footer
$footer-font-stack: Arial, serif;
$footer-text-color: #a6a2a0;
$footer-font-size: 16px;

// Etc.
$link-decoration: none;