/*
 * Dreaded Pirates Theme
 *          by Brian C. Ferrari
 *
 * To be used for personal website.
 */

@blue  : hsl(212, 100%, 25%);
@gold  : hsl( 55, 100%, 60%);
@purple: hsl(275, 100%, 10%);
@green : hsl(115, 100%, 40%);
@pink  : hsl(310, 100%, 50%);
@orange: hsl( 25, 100%, 45%);
@yellow: hsl( 48, 100%, 35%);


body {
  color: @gold;
  background-color: @purple;
}
