@use "vars";
@use "../_assets/theme" as theme;

body {
  overflow: hidden;
}

// Override some things
.franklin-content {
  width: 100%;
  padding: 0;
  align-content: center;
}

// Override some things
.page-foot {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
}

.cover {
  padding: 5%;
  padding-bottom: 0;

  .cover-photo {
    width: 40%;
    text-align: right;
    align-content: center;
    float: left;
    margin-left: 10%;

    img {
      width: 75%;
      align-self: center;
    }
  }

  .cover-body {
    height: 85%;
    text-align: left;
    align-content: center;
    padding-left: 25px;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 0;

    .title {
      display: inline-block;
      text-align: left;
      font-size: theme.$xlarge-font;
      font-weight: bold;
    }

    .pronouns {
      text-align: left;
      display: inline-block;
      font-size: theme.$medium-font;
      margin-bottom: 5%;
    }

    .short-bio {
      display: block;
      margin-bottom: 10%;
    }

    .cover-button {
      width: auto;
      padding: 10px;
      display: inline;
      color: theme.$primary-foreground;
      background-color: theme.$primary-background;
      border: none;
      align-content: center;

      a {
        color: theme.$primary-foreground;
        font-size: theme.$xlarge-font;
        text-decoration: none;
      }
    }
  }

  .cover-nav {
    width: 100%;
    text-align: center;
    align-content: center;
    padding-top: 2%;

    .cover-button {
      width: auto;
      padding: 10px;
      display: inline;
      color: theme.$primary-foreground;
      background-color: theme.$primary-background;
      border: none;
      align-content: center;

      a {
        color: theme.$primary-foreground;
        font-size: theme.$xlarge-font;
        text-decoration: none;
      }
    }
  }

  .cover-links {
    width: 100%;
    text-align: center;
    align-content: center;
    padding-top: 10px;

    li {
      list-style: none;
      display: inline;
      margin: 15px;

      a {
        display: inline-block;
      }
    }
  }
}

@media (max-width: vars.$mobile-max-width) {
  body {
    overflow-y: scroll;
  }
  .cover {
    .cover-photo {
      width: 80%;
      float: none;
      margin-left: 10%;
      align-content: center;

      img {
        width: 100%;
      }
    }

    .cover-body {
      text-align: center;

      .title {
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .pronouns {
        display: block;
        text-align: center;
        margin-top: 0;
        padding-top: 10px;
        margin-bottom: 0;
        padding-bottom: 10%;
      }
    }

    .cover-links {
      ul {
        padding-inline-start: 0;
      }
    }
  }
}

@media (max-height: 500px) {
  body {
    overflow-x: auto;
  }
}
