/*-----------
    Icons 
-----------*/

/* Software Docs */
.fa-book {
  color: black;
}

/* Google Scholar */
.fa-graduation-cap {
  color: #4c9cf1;
}

/* GitHub */
.fa-brands.fa-github {
  color: black;
}

/* ORCID */
.fa-brands.fa-orcid {
  color: greenyellow;
}

/* ResearchGate */
.fa-brands.fa-researchgate {
  color: mediumspringgreen;
}

/* LinkedIn */
.fa-brands.fa-linkedin {
  color: #4c9cf1;
}

/* Blue Sky */
.fa-bluesky {
  color: #087af3;
}
