@use "vars";
@use "../_assets/theme" as theme;

.post {
  width: 100%;
  height: 100%;

  .title {
    color: var(--secondary-fg);

    h1 {
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: var(--secondary-fg);
      }
    }
  }

  .blurb {
    margin-left: 15px;

    p {
      padding-top: 0;
      padding-bottom: 5px;
      margin-top: 5px;
      color: var(--primary-fg);
      font-size: theme.$normal-font;
    }
  }
}
