@use "vars";
@use "../_assets/theme" as theme;

.showcase {
  width: 100%;
  height: 100%;

  .year-heading {
    h2 {
      border-bottom: none;
      color: var(--primary-fg);
    }
  }

  .showcase-title {
    color: var(--secondary-fg);

    a {
      text-decoration: none;
      color: var(--secondary-fg);
    }
  }

  ul {
    padding-left: 50px;
  }

  .showcase-body {
    font-size: theme.$small-font;
  }
}
